.pie-chart-container1 {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.pie-chart-container {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust height as needed */
}

@media (max-width: 768px) {
  .pie-chart-container {
    height: 300px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  .pie-chart-container {
    height: 250px; /* Adjust height for extra small screens */
  }
}
